<div class="section">
	<div class="title-row">
		<dx-button class="button-filters-reset" (click)="resetClickHandler()" text="Clear filters"></dx-button>
		<h2>Studies</h2>
	</div>
	<div class="buttons status-buttons">
		<span [class]="'button status-' + (button.label | lowercase)"
			*ngFor="let button of statusButtons"
			(click)="buttonClickHandler(button)">
			<span class="label">{{button.label}}</span>
			<span class="value">{{button.value}}</span>
		</span>
	</div>
	<data-grid [customOptions]="dataGridOptions"></data-grid>
</div>