<dx-tree-list
	[dataSource]="options.dataSource"
	[itemsExpr]="options.itemsExpr"
	[dataStructure]="options.dataStructure">
	<div *ngFor="let column of options.columns">
		<dxi-column
			[dataField]="column.dataField"
			[allowFiltering]="column.allowFiltering"
			[allowEditing]="column.allowEditing"
			[dataType]="column.dataType"
			[format]="options.format"
			[caption]="column.caption"
			[cellTemplate]="column.cellTemplate">
		</dxi-column>
	</div>
	<dxo-header-filter
		[visible]="options.headerFilters">
	</dxo-header-filter>
	<dxo-filter-row
		[visible]="options.filters">
	</dxo-filter-row>
	<dxo-selection
		[mode]="options.selectionMode"
		[showCheckBoxesMode]="options.selectionCheckboxes">
	</dxo-selection>
	<dxo-editing
		[mode]="options.editingMode"
		[allowUpdating]="options.allowUpdating"
		[allowDeleting]="options.allowDeleting"
		[allowAdding]="options.allowAdding">
	</dxo-editing>

	<span *dxTemplate="let d of 'compare'">
			<span *ngIf="(d.data['FileName'] !== d.value && d.value.length) else placeholder">{{d.value}}</span>
			<ng-template #placeholder>
				<em class="placeholder">Same as File Name</em>
			</ng-template>
		</span>
</dx-tree-list>